<div id="<%= dom_id applist %>">
  <!-- <p>
    <strong>Title:</strong>
    <%= applist.title %>
  </p>

  <p>
    <strong>Logo:</strong>
    <%= applist.logo %>
  </p>

  <p>
    <strong>App link:</strong>
    <%= applist.app_link %>
  </p>

  <p>
    <strong>Redeem type:</strong>
    <%= applist.redeem_type %>
  </p>

  <p>
    <strong>Bonus:</strong>
    <%= applist.bonus %>
  </p>

  <p>
    <strong>Minimum withdrawl:</strong>
    <%= applist.minimum_withdrawl %>
  </p>

  <p>
    <strong>Referral code:</strong>
    <%= applist.referral_code %>
  </p> -->
  <td><%= applist.title %></td>
  <td><img src="<%= applist.logo %>" style="height:30px"></td>
  <td><%= applist.app_link %></td>
  <td><%= applist.redeem_type %></td>
  <td><%= applist.bonus %></td>
  <td><%= applist.minimum_withdrawl %></td>
  <td><%= applist.referral_code %></td>
</div>
