<div id="<%= dom_id point %>">
  <!-- <p>
    <strong>Logo:</strong>
  </p>

  <p>
    <strong>Name:</strong>
    <%= point.name %>
  </p>

  <p>
    <strong>Coins:</strong>
    <%= point.coins %>
  </p> -->

  <td><%= point.name %></td>
  <td><img src="<%= point.logo %>" style="height:30px"></td>
  <td><%= point.coins %></td>
  <td><%= point.account_id %></td>

</div>
