<!-- <div id="<%= dom_id task %>">
  <p>
    <strong>Title:</strong>
    <%= task.title %>
  </p>

  <p>
    <strong>Task:</strong>
    <%= task.task %>
  </p>

  <p>
    <strong>Points:</strong>
    <%= task.points %>
  </p>

  <p>
    <strong>Reward:</strong>
    <%= task.reward %>
  </p>

  <p>
    <strong>Logo:</strong>
    <%= task.logo %>
  </p>

</div> -->

<td><%= task.id%></td>
<td><%= task.title%></td>
<td><%= task.task%></td>
<td><%= task.points%></td>
<td><%= task.reward%></td>
<td><img src="<%= task.logo %>" style="width:30px"></td>
