<div class="container-fluid" id="tasks">
<p style="color: green"><%= notice %></p>

<h1>Tasks</h1>
<%= link_to "New task", new_task_path, class: "btn btn-primary" %>
<br><br>
<table class="table table-success table-striped table-hover" style="text-align: center;">
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Task</th>
      <th>Points</th>
      <th>Reward</th>
      <th>Logo</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  
  <% @tasks.each do |task| %>
  <tr>
  <%= render task %>
  <td>
    <%= link_to "Show this task", task ,  class: "btn btn-info" %>
  </td>
  <td> 
    <%= link_to "Edit this task", edit_task_path(task) ,  class: "btn btn-warning"  %> 
  </td>
  <td> 
    <%= button_to "Destroy this task", task, method: :delete , class: "btn btn-danger" %>
  </td>
  <% end %>

</table>


</div>

