<div id="<%= dom_id reward %>">
  <!-- <p>
    <strong>Payout name:</strong>
    <%= reward.payout_name %>
  </p>

  <p>
    <strong>Payout logo:</strong>
    <%= reward.payout_logo %>
  </p>

  <p>
    <strong>Payout type:</strong>
    <%= reward.payout_type %>
  </p>

  <p>
    <strong>Payout amount:</strong>
    <%= reward.payout_amount %>
  </p>

  <p>
    <strong>Coin value:</strong>
    <%= reward.coin_value %>
  </p> -->
  
  <td><%= reward.payout_name %></td>
  <td><img src="<%= reward.payout_logo %>" style="height:30px"></td>
  <td><%= reward.payout_type %></td>
  <td><%= reward.payout_amount %></td>
  <td><%= reward.coin_value %></td>
          




</div>
