<div id="<%= dom_id appopen %>">
  <!-- <p>
    <strong>Version name:</strong>
    <%= appopen.version_name %>
  </p>

  <p>
    <strong>Version code:</strong>
    <%= appopen.version_code %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= appopen.location %>
  </p>

  <p>
    <strong>Source ip:</strong>
    <%= appopen.source_ip %>
  </p>

  <p>
    <strong>User:</strong>
    <%= appopen.user_id %>
  </p> -->

  <td> <%= appopen.id %> </td>
  <td> <%= appopen.version_name %> </td>
  <td> <%= appopen.version_code %> </td>
  <td> <%= appopen.location %> </td>
  <td> <%= appopen.source_ip %> </td>
  <td> <%= appopen.user_id %> </td>

</div>
