<div id="<%= dom_id user %>">
  <!-- <p>
    <strong>Deviceid:</strong>
    <%= user.deviceId %>
  </p>

  <p>
    <strong>Devicetype:</strong>
    <%= user.deviceType %>
  </p>

  <p>
    <strong>Devicename:</strong>
    <%= user.deviceName %>
  </p>

  <p>
    <strong>Socialtype:</strong>
    <%= user.socialType %>
  </p>

  <p>
    <strong>Socialid:</strong>
    <%= user.socialId %>
  </p>

  <p>
    <strong>Socialtoken:</strong>
    <%= user.socialToken %>
  </p>

  <p>
    <strong>Socialemail:</strong>
    <%= user.socialEmail %>
  </p>

  <p>
    <strong>Socialname:</strong>
    <%= user.socialName %>
  </p>

  <p>
    <strong>Socialimgurl:</strong>
    <%= user.socialImgurl %>
  </p>

  <p>
    <strong>Advertisingid:</strong>
    <%= user.advertisingId %>
  </p>

  <p>
    <strong>Versionname:</strong>
    <%= user.versionName %>
  </p>

  <p>
    <strong>Versioncode:</strong>
    <%= user.versionCode %>
  </p>

  <p>
    <strong>Utmsource:</strong>
    <%= user.utmSource %>
  </p>

  <p>
    <strong>Utmmedium:</strong>
    <%= user.utmMedium %>
  </p>

  <p>
    <strong>Utmterm:</strong>
    <%= user.utmTerm %>
  </p>

  <p>
    <strong>Utmcontent:</strong>
    <%= user.utmContent %>
  </p>

  <p>
    <strong>Utmcampaign:</strong>
    <%= user.utmCampaign %>
  </p> -->


  <td><%= user.deviceId %></td>
  <td><%= user.deviceType %></td>
  <td><%= user.deviceName %></td>
  <td><%= user.socialType %></td>
  <td><%= user.socialId %></td>
  <td><%= user.socialToken %></td>
  <td><%= user.socialEmail %></td>
  <td><%= user.socialName %></td>
  <td><%= user.socialImgurl %></td>
  <td><%= user.advertisingId %></td>
  <td><%= user.versionName %></td>
  <td><%= user.versionCode %></td>
  <td><%= user.utmSource %></td>
  <td><%= user.utmMedium %></td>
  <td><%= user.utmTerm %></td>
  <td><%= user.utmContent %></td>
  <td><%= user.utmCampaign %></td>

</div>
