<div id="<%= dom_id withdrawl %>">
  <!-- <p>
    <strong>Coins:</strong>
    <%= withdrawl.coins %>
  </p>

  <p>
    <strong>Transaction Id:</strong>
    <%= withdrawl.transaction_id %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= withdrawl.amount %>
  </p>

  <p>
    <strong>Account:</strong>
    <%= withdrawl.account_id %>
  </p> -->

   <td><%= withdrawl.coins %></td>
   <td><%= withdrawl.transaction_id %></td>
   <td><%= withdrawl.amount %></td>
   <td><%= withdrawl.account_id %></td>
   
</div>
