<%= form_with(model: game_point) do |form| %>
  <% if game_point.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(game_point.errors.count, "error") %> prohibited this game_point from being saved:</h2>

      <ul>
        <% game_point.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :img, style: "display: block" %>
    <%= form.text_field :img %>
  </div>

  <div>
    <%= form.label :link, style: "display: block" %>
    <%= form.text_field :link %>
  </div>

  <div>
    <%= form.label :game_amount, style: "display: block" %>
    <%= form.text_field :game_amount %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
