<div id="<%= dom_id game_point %>">
  <!-- <p>
    <strong>Title:</strong>
    <%= game_point.title %>
  </p>

  <p>
    <strong>Img:</strong>
    <%= game_point.img %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= game_point.link %>
  </p> -->
  
  
  <!-- <td><%= game_point.id %></td> -->
  <td><%= game_point.title %></td>
  <td><img src="<%= game_point.img %>" style="height:50px"></td>
  <td><%= game_point.link %></td>
  <td><%= game_point.game_amount %></td>
</div>
