<!-- <div id="<%= dom_id match %>">
  <p>
    <strong>Title:</strong>
    <%= match.title %>
  </p>

  <p>
    <strong>Short title:</strong>
    <%= match.short_title %>
  </p>

  <p>
    <strong>Views:</strong>
    <%= match.views %>
  </p>

  <p>
    <strong>Is live:</strong>
    <%= match.is_live %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= match.status %>
  </p>

  <p>
    <strong>Front team:</strong>
    <%= match.front_team %>
  </p>

  <p>
    <strong>Opp team:</strong>
    <%= match.opp_team %>
  </p>

</div> -->
  <td class="col"><%= match.title %></td>
  <td class="col"><%= match.short_title %></td>
  <td class="col"><%= match.views %></td>
  <td class="col"><%= match.is_live %></td>  
  <td class="col"><%= match.status %></td>  
  <td class="col"><%= match.front_team %></td>  
  <td class="col"><%= match.opp_team %></td>
