<div id="<%= dom_id account %>">
  <!-- <p>
    <strong>Coin balance:</strong>
  </p>

  <p>
    <strong>Refer code:</strong>
    <%= account.refer_code %>
  </p>

  <p>
    <strong>User:</strong>
    <%= account.user_id %>
  </p> -->

  <td><%= account.user_id %></td>
  <td><%= account.coin_balance %></td>
  <td><%= account.refer_code %></td>

</div>
